SF_CLIENT_ID=your_consumer_key
SF_CLIENT_SECRET=your_consumer_secret
SF_CALLBACK_URL=http://localhost:3000/auth/callback
SF_LOGIN_URL=https://login.salesforce.com
SESSION_SECRET=change_me_to_a_long_random_string
